<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PoliChan</title>
  <link rel="stylesheet" href="/.static/css/main.css">
</head>
<body>
  <div id="nav"></div>
  <div id="app"></div>
  <div id="scroll-btns">
    <button onclick="window.scrollTo({top:0,behavior:'smooth'})">Top</button>
    <button onclick="window.scrollTo({top:document.body.scrollHeight,behavior:'smooth'})">Bottom</button>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit&onload=onTurnstileLoad" async defer></script>
  <script src="/.static/js/main.js"></script>
</body>
</html>
